body  {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}
#header {
    height: 140px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #ff1818;
}
#center {
    width: 100%;
    margin: 0px auto;
}

.clear-fix {clear: both;
float: none;}

#logo {
    margin-top: 35px;
    width: 30%;
    font-size: 30px;
    float: left;

}


#logo img {
    margin-top: -10px;
    display: block;
    float: left;
    height: 60px;
    animation: latir infinite 5s linear;
}
@keyframes latir {
    0% {
    transform: scale(1,1);
    }
    50%{transform: scale(1.02,1.02);
    }
    55%{transform: scale(0.95,0.95);
    }
    100%{ transform: scale(1, 1);
    }
}
#brand {
    display: block;
    margin: 0px;
    float: left;
}
#menu {width: 70%;
float: right;
font-size: 18px;
}
#menu ul {
    width: 60%;
    list-style:none;
    float: right;
    margin-top: 43px;
}
#menu ul li{
    display:inline-block;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}
#menu a {
    text-decoration: none;
    color:#444;
    transition:  3ooms all;
}
#menu a:hover{
    color: #ff1818;
}
#slider {width: 100%;
height: 350px;
/*line-height: 320px;*/
color: rgb(255, 255, 255);
background: rgb(180,58,79);
background: linear-gradient(90deg, rgba(180,58,79,1) 0%, rgba(253,29,29,1) 50%, rgba(252,96,69,1) 100%);}

#slider h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
    
}
.btn-white {
    color: #444;
    display: block;
    background: white;
    padding: 10px;
    width: 95px;
    height: 20px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 20px;
    box-shadow: 0px 0px 5px #000000;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover{
    background: #3a3a3a;
    color: #ffffff;
}
#slider.slider-small{
height: 150px;
}
#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}
#content {
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}
#sidebar {
    width: 25%;
    float: right;
}

.sidebar-item{
    background: #e7e7e7;
    padding: 15px;
    margin-top: 30px;
}
.sidebar-item h3{
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px;
border-bottom: 1px solid rgb(191, 191, 191);
padding-bottom: 10px;
margin-bottom: 10px;
}

.btn{
    background: #ada4a4;
    color: #000000;
    padding: 7px;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgb(69, 68, 68);
    transition: 300ms all;
    border: none;
    cursor: pointer;
}
.btn-succes:hover{
    background: #ff2525;
}
.mid-form {
    width: 50%;
    margin: 0px auto;
}
.mid-form label {
    display: block;
    margin-top: 10px;
    font-size: 17px;
}

input[type="text"] ,
textarea
{
    width: 40%;
    min-height: 20px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}
input[type="text"]:focus{
    box-shadow: 0px 0px 3px #a4a4a4 inset;
}
.radioButtons {
    margin-top: 15px;
    margin-bottom: 15px;
}
textarea{
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    min-width: 100%;
    height: 50px;
}
#footer{
    background: #eceaea;
    width: 100%;
    height: 70px;
    line-height: 65px;
    color: #343434;
}
#footer p{
    margin: 0px;
    padding: 0px;
}
.article-item {width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;

}
/* AJUSTAR IMAGEN (TAMAÑO) Y DESPUES AJUSTARLA INTERNAMENTE PARA QUE SE VEA AL 100%*/
.article-item .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;

}
.article-item .image-wrap img {
    height: 100%;
    text-align: center;

}

.article-item h2 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: #545252;
    
}
.article-item a{
    display: block;
    color: #7b3838;
    text-decoration: none;
    margin-top: 10px;
}
.article-item a:hover{
    text-decoration: underline;
}
.subHeader {
    font-size: 30px;
    border-bottom: 1px solid #eee;
    padding: 5px;
}
.article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 300px;
}
.article-detail .image-wrap img {
    width: 100%;
    height: 100%;
}
.article-detail .subHeader{
    margin-top: 10px;
    margin-bottom: 5px;
    border: none;
}

/* RESPONSIVE */

@media (max-width: 1134px)
{
#menu ul{
    width: auto;
}
}
@media (max-width:1004px)
{
    #logo{
    float: none;
    width: 320px;
    margin: 0px auto;
    margin-top: 20px;
    }
        #menu{
        margin-right: 175px;
        width: auto;
        }}
    @media (max-width:810px)
{
    #logo{
        float: none;
        width: 350px;
        margin: 0px auto;
        margin-top: 20px;
    }
    #menu, #menu ul{
    clear: both;
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 43px;
    }
    #content{
        float: none;
        width: 100%;
    }
    #sidebar{
    float: none;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 50px;
    }
    #slider h1{
    padding-top: 115px;
    font-size: 25px;
    }
    .mid-form{
        width: 70%;
    }
}
@media (max-width:469px)
{
    #header{
        min-height: 130px;
        overflow: hidden;
    }
    #menu , #menu ul{
        line-height: 50px;
    }
    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }
    #slider {
        height: 180px;
    }
    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }
    #slider .btn-white{
    margin-top: 20px;
    }
    #slider .slider-small{
        height: 100%;
    }
    #slider .slider-small h1{
    padding-top: 35px;
    }
}

